.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  grid-column-gap: 0;
  grid-row-gap: 50px;
  grid-template-rows: 80px 30px 40px 50px;
  align-content: center;
  height: 900px;
  background: gray;
  }

@media screen and (min-width: 767px) {
      .first-grid-div{
        background-color: rgb(12, 90, 58);
      }
    }
@media screen and (max-width: 767px) {
      .first-grid-div{
        background-color: rgb(46, 0, 252);
      }
    }